html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #c5c5d0;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  line-height: 24px;
  padding: 5px 11px;
  margin-right: 12px;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  margin-bottom: 24px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    outline: none;
    border: 1px solid #8d8da2; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #e1e1e7;
  border: 1px solid #c5c5d0;
  margin: 0 0 24px;
  padding: 24px; }

input,
label,
select {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 14px; }

label {
  line-height: 24px;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-weight: 600; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple] {
  line-height: 24px;
  background-color: #fff;
  border: 1px solid #c5c5d0;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 14px;
  margin-bottom: 24px;
  padding: 5px 11px;
  -webkit-transition: border-color;
          transition: border-color;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-color: #a9a9b9; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-color: #00b2ff;
    box-shadow: none;
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, textarea:disabled,
  select[multiple=multiple]:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, textarea:disabled:hover,
    select[multiple=multiple]:disabled:hover {
      border: 1px solid #c5c5d0; }

textarea {
  resize: vertical; }

input[type="search"] {
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 24px; }

input[type="file"] {
  padding-bottom: 24px;
  width: 100%; }

select {
  margin-bottom: 24px;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 24px; }
  dl dt {
    font-weight: bold;
    margin-top: 24px; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  -webkit-font-feature-settings: "kern", "liga", "tnum";
     -moz-font-feature-settings: "kern", "liga", "tnum";
          font-feature-settings: "kern", "liga", "tnum";
  margin: 24px 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #9b9bae;
  font-weight: 600;
  padding: 24px 0;
  text-align: left; }

td {
  border-bottom: 1px solid #c5c5d0;
  padding: 24px 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
     -moz-font-feature-settings: "kern", "liga", "pnum";
          font-feature-settings: "kern", "liga", "pnum";
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 24px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px;
  font-weight: normal; }

h1 {
  font-size: 36px;
  line-height: 48px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 21px;
  font-weight: 600; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px;
  font-weight: 600; }

h6 {
  font-size: 16px;
  text-transform: uppercase; }

p {
  margin: 0 0 24px; }

a {
  color: #00b2ff;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
          transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #007db3; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #c5c5d0;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 24px 0; }

img,
picture {
  margin: 0;
  padding: 0;
  max-width: 100%; }

html {
  background-image: url(http://basehold.it/i/12/000000); }

.horizontalnavlogo {
  /* UNCOMMENT THIS FOR STICKY NAV
  
  position: fixed;
  width: 100%;
  background-color: #fff;
  
  */
  background-color: #00b2ff;
  margin-bottom: 24px; }
  .horizontalnavlogo .navigation-menu-button {
    display: block;
    float: right;
    margin: 0;
    padding: 24px 12px;
    color: #fff;
    text-transform: uppercase; }
    @media screen and (min-width: 768px) {
      .horizontalnavlogo .navigation-menu-button {
        display: none; } }
  .horizontalnavlogo .navigation-wrapper {
    position: relative; }
    .horizontalnavlogo .navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  .horizontalnavlogo .logo {
    float: left;
    line-height: 0px;
    padding: 12px; }
    .horizontalnavlogo .logo img {
      max-height: 48px; }
  .horizontalnavlogo nav {
    float: none;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .horizontalnavlogo nav {
        float: right;
        width: auto;
        padding: 24px 0; } }
  .horizontalnavlogo ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .horizontalnavlogo ul.navigation-menu {
        display: inline-block;
        margin: 0;
        padding: 0;
        text-align: center; } }
    .horizontalnavlogo ul.navigation-menu.show {
      display: block; }
  .horizontalnavlogo ul li.nav-link {
    display: block;
    text-align: right;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .horizontalnavlogo ul li.nav-link {
        background: transparent;
        display: inline;
        text-decoration: none;
        width: auto;
        padding: 24px; } }
  .horizontalnavlogo li.nav-link a {
    display: block;
    padding: 12px;
    color: #fff;
    text-transform: uppercase; }
    .horizontalnavlogo li.nav-link a:hover {
      background-color: #008ecc; }
    @media screen and (min-width: 768px) {
      .horizontalnavlogo li.nav-link a {
        display: inline-block;
        padding: 0; }
        .horizontalnavlogo li.nav-link a:hover {
          background-color: transparent; } }

.horizontalnav {
  /* UNCOMMENT THIS FOR STICKY NAV
      
      position: fixed;
      width: 100%;
      background-color: #fff;
      
  */
  background-color: #554c4d;
  margin-bottom: 24px; }
  .horizontalnav .navigation-menu-button {
    display: block;
    float: right;
    margin: 0;
    padding: 24px 12px;
    color: #fff;
    text-transform: uppercase; }
    @media screen and (min-width: 768px) {
      .horizontalnav .navigation-menu-button {
        display: none; } }
  .horizontalnav .navigation-wrapper {
    position: relative; }
    .horizontalnav .navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  .horizontalnav nav {
    float: none;
    width: 100%; }
  .horizontalnav ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .horizontalnav ul.navigation-menu {
        display: block;
        margin: 0;
        padding: 0;
        text-align: center; } }
    .horizontalnav ul.navigation-menu.show {
      display: block; }
  .horizontalnav ul li.nav-link {
    display: block;
    text-align: right;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .horizontalnav ul li.nav-link {
        background: transparent;
        display: inline-block;
        text-decoration: none;
        width: auto;
        padding: 12px; } }
  .horizontalnav li.nav-link a {
    display: block;
    padding: 12px;
    color: #fff;
    text-transform: uppercase; }
    .horizontalnav li.nav-link a:hover {
      background-color: #3a3435; }
    @media screen and (min-width: 768px) {
      .horizontalnav li.nav-link a {
        display: inline-block;
        padding: 0; }
        .horizontalnav li.nav-link a:hover {
          background-color: transparent; } }

.hover-tile-outer {
  background: url("https://unsplash.it/1200/700/?random");
  background-position: top;
  background-size: cover;
  cursor: pointer;
  height: 480px;
  margin-bottom: 24px; }
  .hover-tile-outer .hover-tile-container {
    height: 480px;
    overflow: hidden; }
  .hover-tile-outer .hover-tile-container:hover > .hover-tile {
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
    opacity: 1; }
  .hover-tile-outer .hover-tile {
    -webkit-transition: all, 0.4s ease-in-out;
    transition: all, 0.4s ease-in-out;
    background: inherit;
    color: white;
    height: inherit;
    overflow: hidden;
    padding: 24px;
    opacity: 0; }
  .hover-tile-outer .hover-tile-hidden {
    background: rgba(0, 178, 255, 0.7); }

div.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  div.container::after {
    clear: both;
    content: "";
    display: table; }
